@import './vars.scss';

.modal {
  &__tab-head-item {
    font-size: 14px;
    transition-duration: 200ms;
    transition-delay: 20ms;
    transition-property: background-color;
    cursor: pointer;
    color: #5c5c5c;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 32px;
    border-radius: 7px;
    padding-left: 7px;
    -webkit-tap-highlight-color: transparent
  }

  &__tab-head-item--active {
    cursor: default;
    background-color: var(--sidebar-tab-active-bg);
    color: var(--sidebar-tab-active-color);
  }
}

//--------------------------------------------------------------------------------------//
//                                        MEDIA                                         //
//--------------------------------------------------------------------------------------//

@media (max-width: 768px) {
  .sections-mode {
    .modal__tab-head-item {
      justify-content: start;
      align-items: center;
      height: 50px;
      max-height: 50px;
      min-height: 50px;
      // background-color: #f1f1f1;
    }

    .modal__tab-head-item:hover {
      background-color: #e6eaee;
    }

    &__section-arrow {
      position: relative;
      margin-left: auto;
      bottom: -2px;
    }
  }

  .modal {

    &__tabs {
      display: flex;
      align-items: center;
      // order: 1;
      gap: 10px;
    }

    &__tab-head-item {
      padding: 8px 12px;
      text-align: center;
      justify-content: center;
      user-select: none;
    }
  }
}