@import './vars.scss';

.modal {
  &__tab-head-item {
    font-size: 14px;
    transition-duration: 200ms;
    transition-delay: 20ms;
    transition-property: background-color;
    cursor: pointer;
    word-break: break-all;
    color: #5c5c5c;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 32px;
    border-radius: 7px;
    padding-left: 7px;
    -webkit-tap-highlight-color: transparent
  }

  &__tab-head-item--active {
    cursor: default;
    background-color: var(--sidebar-tab-active-bg);
    color: var(--tm-sidebar-tab-active-color);
  }

  &__tabs {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}


.h-scrollable {
  flex-wrap: nowrap;
  width: 100%;
  overflow-y: auto;
  // overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

//--------------------------------------------------------------------------------------//
//                                        MEDIA                                         //
//--------------------------------------------------------------------------------------//

@media (max-width: 768px) {
  .sections-mode {
    flex-direction: column;
    overflow-y: auto;
    padding: 0 16px;

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background: #BF3266;
      border-radius: 10px;
    }

    &__title-with-arrow {
      display: flex;
      align-items: center;
    }

    &__title-with-arrow .modal__go-back {
      height: 24px;
      margin-right: 15px;
    }

    .modal__tab-head-item {
      justify-content: start;
      align-items: center;
      height: 50px;
      max-height: 50px;
      min-height: 50px;
      width: 100%;
      // background-color: #f1f1f1;
    }

    .modal__tab-head-item:hover {
      background-color: #e6eaee;
    }

    &__section-arrow {
      position: relative;
      margin-left: auto;
      bottom: -2px;
    }
  }

  .modal {
    &__tabs {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &__tab-head-item--active {
      background-color: var(--sidebar-tab-active-bg);
      color: var(--tm-sidebar-tab-active-color);
    }

    &__tab-head-item {
      padding: 8px 12px;
      text-align: center;
      justify-content: center;
      user-select: none;
    }
  }
}