* {
  --main-bg-color: #f8f9fa;
}

.modal {
  // display: flex;
  // width: 800px;
  border-radius: 14px;
  overflow: hidden;
  color: #474747;
  // height: 500px;
  position: fixed;
  left: 50%;
  // transform: translate(0);
  z-index: 999999;
  transform: translate(-50%, 0);
  transition: bottom 0.3s ease;
  transition: height 0.3s ease;
  background-color: var(--main-bg-color);

  &__sidebar-search-input {
    font-size: 14px;
    transition-duration: 200ms;
    transition-delay: 20ms;
    transition-property: background-color;
    // cursor: pointer;
    color: #5c5c5c;
    width: 100%;
    background-color: #fffdfd;
    display: flex;
    justify-content: flex-start;
    border: none;
    align-items: center;
    height: 32px;
    border-radius: 7px;
    padding-left: 7px;
    -webkit-tap-highlight-color: transparent;
    margin-bottom: 7px;

    &:placeholder-shown {
      text-overflow: ellipsis;
    }
  }

  &__sidebar-search-input:focus {
    outline: none;
  }

  &__sidebar-search-input::-webkit-search-cancel-button {
    position: relative;
    right: 6px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    appearance: none;
    // background: #000;
  }

  &__container {
    position: relative;
    display: flex;
    // height: 520px;
    height: 100%;
  }

  &__title {
    font-size: 16px;
    margin-bottom: 16px;
    position: relative;
  }

  &__sidebar {
    min-width: 180px;
    width: 180px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-right: 1px solid rgb(219, 219, 219);
    background: #E9ECEF;
    z-index: 20;
  }

  &__content {
    background-color: var(--main-bg-color);
    max-width: 100%;
    width: 520px;
    height: 100%;
    padding-bottom: 0;
  }

  &__title-simple {
    padding: 14px 16px;
    margin-bottom: 0;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 24px;
    min-width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    height: 24px;
    transition: background-color 300ms ease;
    min-height: 24px;
    z-index: 100;
    cursor: pointer;
  }

  &__close svg {
    width: 14px;
    height: 14px;
  }

  &__close:hover {
    background-color: #e63946;

    svg path {
      fill: #fff;
    }
  }
}

.moving {
  transition: none;
}

:deep(.modal__footer) {
  position: fixed;
  width: 100%;
  height: 66px;
  bottom: 0;
  display: flex;
  left: 0;
  padding-right: 21px;
  align-items: center;
  justify-content: flex-end;
  gap: 9px;
  z-index: 10;
  background-color: var(--main-bg-color);
}

.pan {
  padding-bottom: 20px;
  padding-top: 15px;
  cursor: grab;
  height: 38px;
  background-color: var(--main-bg-color);

  &__bar {
    display: block;
    width: 50px;
    height: 3px;
    border-radius: 14px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.3);
  }
}

.modal-item {
  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    opacity: 1;
    background-color: #0000004D;
  }
}

.h-scrollable {
  flex-wrap: nowrap;
  width: 100%;
  overflow-y: auto;
  // overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

:deep(.inner-content) {
  overflow-y: auto;
  padding: 0 16px;

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: #BF3266;
    border-radius: 10px;
  }
}


:deep(.content) {
  margin-top: 25px;
}

:deep(.header) {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 16px;
  padding-top: 14px;
}

:deep(.header__title) {
  display: flex;
  align-items: center;
  // font-family: "Roboto Bold", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #474747;
}

:deep(.modal__content-simple .content) {
  margin-top: 0;
}

//--------------------------------------------------------------------------------------//
//                                        MEDIA                                         //
//--------------------------------------------------------------------------------------//


@media (min-width: 768px) {
  .pan {
    // display: none;
  }
}

@media (max-width: 768px) {
  .h-scrollable {
    overflow-y: hidden;
    overflow-x: auto;
  }


  :deep(.content) {
    margin-top: 0;
  }

  :deep(.header) {
    padding-top: 0;
  }

  :deep(.header__title) {
    display: none;
  }

  .sidebar-sections {
    padding: 0;

    .modal__title {
      padding: 0 16px;
      padding-top: 14px;
    }
  }

  .sections-mode {
    flex-direction: column;
    overflow-y: auto;
    padding: 0 16px;

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background: #BF3266;
      border-radius: 10px;
    }

    &__title-with-arrow {
      display: flex;
      align-items: center;
    }

    &__title-with-arrow .go-back {
      height: 24px;
      margin-right: 15px;
    }
  }


  .modal {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 0;

    &__sidebar {
      width: 100%;
      max-width: 100%;
      background-color: var(--main-bg-color);
      display: flex;
      flex-direction: column;
      gap: 0px;
      border: none;
    }

    &__title {
      // order: 2;
    }

    &__container {
      height: 100%;
    }

    &__content {
      width: 100%;
    }

    &__tab-head-item--active {
      background-color: #dce0e4;
      color: #080808;

    }

    &__container {
      flex-direction: column;
    }

    &__sidebar-search {
      padding: 0 14px;
    }

    &__sidebar-search-input {
      background: #eaeaea;
      height: 45px;
    }
  }

  :deep(.modal__footer) {
    // bottom: 66px;
  }
}