@import './vars.scss';

.modal {
  border-radius: 14px;
  overflow: hidden;
  color: var(--tm-text-color);
  position: fixed;
  left: 50%;
  z-index: 999999;
  transform: translate(-50%, 0);
  transition: bottom 0.3s ease;
  transition: height 0.3s ease;
  background-color: var(--tm-main-bg-color);

  &__container {
    position: relative;
    display: flex;
    height: 100%;
  }

  &__title {
    font-size: 16px;
    margin-bottom: 16px;
    position: relative;
  }

  &__content {
    background-color: var(--tm-main-bg-color);
    max-width: 100%;
    width: 520px;
    height: 100%;
    padding-bottom: 0;
  }

  &__title-simple {
    padding: 14px 16px;
    margin-bottom: 0;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 24px;
    min-width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    height: 24px;
    transition: background-color 300ms ease;
    min-height: 24px;
    z-index: 100;
    cursor: pointer;
  }

  &__close svg {
    width: 14px;
    height: 14px;
  }

  &__close svg path{
    fill: var(--tm-close-icon-fill-color);
  }

  &__close:hover {
    background-color: var(--tm-close-button-bg-hover-color);

    svg path {
      fill: var(--tm-close-icon-hover-fill-color);
    }
  }
}

.moving {
  transition: none;
}

:deep(.modal__footer) {
  position: fixed;
  width: 100%;
  height: 66px;
  bottom: 0;
  display: flex;
  left: 0;
  padding-right: 21px;
  align-items: center;
  justify-content: flex-end;
  gap: 9px;
  z-index: 10;
  box-shadow: 0px -1px 1px rgba(100, 100, 111, 0.2);
  background-color: var(--tm-main-bg-color);
}

.modal__pan {
  padding-bottom: 20px;
  padding-top: 15px;
  cursor: grab;
  height: 38px;
  background-color: var(--tm-main-bg-color);

  &-bar {
    display: block;
    width: 50px;
    height: 3px;
    border-radius: 14px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.3);
  }
}

.modal-item {
  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    opacity: 1;
    background-color: #0000004D;
  }
}

:deep(.modal__inner-content) {
  overflow-y: auto;
  padding: 0 16px;
  padding-bottom: 25px;

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--tm-content-scrollbar-color);
    border-radius: 10px;
  }
}

:deep(.modal__child-item-header) {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 16px;
  padding-top: 14px;
}

:deep(.header__title) {
  display: flex;
  align-items: center;
  // font-family: "Roboto Bold", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #474747;
}

:deep(.modal__inner-content) img {
  width: 100%;
}

:deep(.modal__content-simple .modal__child-item-content) {
  margin-top: 0;
}

//--------------------------------------------------------------------------------------//
//                                        MEDIA                                         //
//--------------------------------------------------------------------------------------//

@media (min-width: 768px) {
  :deep(.modal__child-item-content) {
    margin-top: 25px;
  }
}

@media (max-width: 768px) {
  .h-scrollable {
    overflow-y: hidden;
    overflow-x: auto;
  }

  :deep(.content) {
    margin-top: 0;
  }

  :deep(.modal__child-item-header) {
    padding-top: 0;
  }

  :deep(.modal__child-item-header-title) {
    display: none;
  }

  .modal {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 0;

    &__container {
      height: 100%;
      flex-direction: column;
    }

    &__content {
      width: 100% !important;
    }
  }
}