.modal__go-back {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color .2s ease;

  &:hover {
    background-color: #dee2e6;
  }
}

//--------------------------------------------------------------------------------------//
//                                        MEDIA                                         //
//--------------------------------------------------------------------------------------//

@media (max-width: 768px) {
  .modal__go-back {
    top: -28px;
    z-index: 999;
    position: absolute;
    
    &__no-mobile-pan {
      top: 15px;
      left: 15px;
    }
  }
}