.modal {
  // display: flex;
  // width: 800px;
  border-radius: 14px;
  overflow: hidden;
  color: #474747;
  position: fixed;
  left: 50%;
  // transform: translate(0);
  z-index: 999999;
  transform: translate(-50%, 0);
  transition: top 0.3s ease;

  &__container {
    position: relative;
    display: flex;
    height: 520px;

  }

  &__title {
    font-size: 16px;
    margin-bottom: 16px;
    position: relative;
  }

  &__tab-head-item {
    font-size: 14px;
    transition-duration: 200ms;
    transition-delay: 20ms;
    transition-property: background-color;
    cursor: pointer;
    color: #5c5c5c;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 32px;
    border-radius: 7px;
    padding-left: 7px;
  }

  &__tab-head-item--active {
    cursor: default;
    background-color: #dce0e4;
    color: #333333;
  }

  &__sidebar {
    min-width: 180px;
    width: 180px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 14px;
    border-right: 1px solid rgb(219, 219, 219);
    background: #E9ECEF;
    z-index: 20;
  }

  &__content {
    background-color: #f8f9fa;
    max-width: 100%;
    width: 520px;
    height: 100%;
    // padding: 14px 16px;
    padding-bottom: 0;
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 24px;
    min-width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    height: 24px;
    transition: background-color 300ms ease;
    min-height: 24px;
    cursor: pointer;
  }

  &__close svg {
    width: 14px;
    height: 14px;
  }

  &__close:hover {
    background-color: #e63946;

    svg path {
      fill: #fff;
    }
  }
}

:deep(.modal__footer) {
  position: fixed;
  width: 100%;
  height: 66px;
  bottom: 0;
  display: flex;
  left: 0;
  padding-right: 21px;
  align-items: center;
  justify-content: flex-end;
  gap: 9px;
  z-index: 10;
  background-color: #f8f9fa;
}

.pan {
  padding-bottom: 20px;
  padding-top: 15px;
  cursor: grab;
  height: 38px;
  background-color: #f8f9fa;

  &__bar {
    display: block;
    width: 50px;
    height: 3px;
    border-radius: 14px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.3);
  }
}

.modal-item {
  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    opacity: 1;
    background-color: #0000004D;
  }
}

//--------------------------------------------------------------------------------------//
//                                        MEDIA                                         //
//--------------------------------------------------------------------------------------//


@media (min-width: 768px) {
  .pan {
    // display: none;
  }
}