.tabbed-modal {
  --tm-main-bg-color: #f8f9fa;
  --tm-close-button-bg-hover-color: #e63946;
  --tm-sidebar-bg-color: #E9ECEF;
  --tm-content-scrollbar-color: #BF3266;
  --tm-sidebar-search-input-bg: #fffdfd;
  --tm-text-color: #474747;
  --tm-sidebar-search-input-color: #5c5c5c;
  --tm-sidebar-border-right-color: rgb(219, 219, 219);
  --tm-sidebar-tab-active-bg: #dce0e4;
  --tm-sidebar-tab-active-color: #080808;
  --tm-sidebar-search-input-bg-mobile: #eaeaea;
  --tm-close-icon-fill-color: #333;
  --tm-close-icon-hover-fill-color: #fff;
}